
/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root{
    /* Colores */
    --Background: #0f0e17;
    --Navbar: #001845;
    --Headline: #fffffe;
    --Paragraph: #a7a9be;
    --Highlight: #ff8906;
    --Secondary: #f25f4c;
    --Green: #2cb67d;
    --Purple: #7f5af0;
    --Pink: #e53170;
    --Buttons: #ff8906;
    --Footer: #242629;

    /* Font Family */
    --Font-Roboto: 'Roboto', sans-serif;
    --Font-Montserrat: 'Montserrat', sans-serif;
    --Font-Source-Sans-Pro: 'Source Sans Pro', sans-serif;
    --Font-Ubuntu: 'Ubuntu', sans-serif;
}
/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #001845 #0f0e17;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #0f0e17;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #001845;
    border-radius: 10px;
    border: 2px solid #ffffff;
  }

  *::-webkit-scrollbar-thumb:hover{
    background-color: var(--Highlight);
  }

/* Clases Generales */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


html{
    font-size: 10px;
}

body{
    background-color: var(--Background);
}

/* Navbar */
.header{
    position: fixed;
    top: 0;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--Navbar);
    padding: 16px;
    z-index: 20;
}

#toggle-menu, #toggle-cart{
    font-size: 2rem;
    color: var(--Headline);
    cursor: pointer;
}

.navbar{
    padding: 0 10px;
    position: absolute;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: calc(100vh - 80px);
    background-color: var(--Navbar);
    border-right: 2px solid var(--Highlight);
    border-bottom: 2px solid var(--Highlight);
    border-bottom-right-radius: 10px;
    top: 80px;
    list-style: none;
    visibility: hidden;
}

.navbar--active{
    visibility: visible;
    animation: slide-left 0.5s;
}

.navbar-list{
    list-style: none;
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.navbar-list__item{
    font-size: 1.4rem;
}

.navbar-list__item a{
    position: relative;
    color: var(--Headline);
    text-decoration: none;
    font-weight: 900;
    font-family: var(--Font-Roboto);
}

.navbar-list__item a::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: var(--Highlight);
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.4s;
}
.navbar-list__item a:hover::before{
    content: "";
    transform: scaleX(100%);
    transform-origin: bottom left;
}

.navbar-list__user{
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
    font-size: 1.1rem;
    font-family: var(--Font-Montserrat);
}

.user-img{
    font-size: 2rem;
    color: var(--Highlight);
}

.navbar-list__login{
    color: var(--Headline);
    font-weight: 700;
    text-decoration: none;
}

.navbar-list__register{
    text-decoration: none;
    font-weight: 700;
    color: var(--Highlight);
}

.logo{
    height: 50px;
    width: 50px;
}

/* Cart */

.cart-menu{
    position: absolute;
    top: 80px;
    right: 0;
    padding: 16px 6px;
    height: calc(100vh - 80px);
    width: 40%;
    border-bottom-left-radius: 10px;
    border-bottom: 2px solid var(--Pink);
    border-left: 2px solid var(--Pink);
    background-color: var(--Navbar);
    visibility: hidden;
}

.cart-menu--active{
    visibility: visible;
    animation: slide-right 0.5s;
}

.cart-menu-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow:auto;
    gap: 10px;
    height: 100%;
    width: 100%;
}

.empty-cart-text{
    margin-top: 50px;
    color: var(--Headline);
    font-size: 1.1rem;
    font-family: var(--Font-Roboto);
    font-weight: 700;
    display: none;
}

.show{
    display: flex;
}

.cart-menu__products{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 80%;
    gap: 10px;
    overflow-y: auto;
}

.cart-menu__products__item{
    position: relative;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid var(--Headline);
    border-radius: 4px;
    padding: 6px;
    color: var(--Headline);
    font-family: var(--Font-Roboto);
    background-color: #0f0e17;
}

.delete{
    padding: 2px 8px 0 0;
    position: absolute;
    right: 0;
    font-size: 16px;
    cursor: pointer;
}

.product__item__img{
    width: 100%;
}

.product__item__title{
    font-weight: 900;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product__item__btns{
    margin-top: 6px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product__handler{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.btn--up, .btn--down{
    height: 20px;
    width: 20px;
    border: none;
    background-color: var(--Buttons);
    color: var(--Headline);
    font-weight: 700;
    cursor: pointer;
}

.product__handler span{
    font-size: 1.3rem;
    color: var(--Buttons);
}

.product__options{
    margin-top: 2px;
    font-size: 0.8rem;
}

.product__options select{
    font-size: 0.9rem;
    border: none;
    border-radius: 2px;
    font-weight: 700;
    color: white;
    background-color: var(--Pink);
}

.divider{
    height: 2px;
    width: 100%;
    background-color: var(--Headline);
}

.cart-menu__btns{
    margin-top: 10px;
    width: 90%;
    display: flex;
    gap: 6px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cart-menu__btns p{
    width: 80%;
    display: flex;
    justify-content: space-between;
    color: var(--Headline);
    font-weight: 900;
}

.cart-menu__btns button{
    border-radius: 4px;
    width: 100%;
}
/* Main */

main{
    margin-top: 80px;
    padding: 16px;
    color: var(--Headline);
}

.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero__titles{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 10px;
    width: 90%;
    text-align: center;
    font-family: var(--Font-Roboto);
}

.hero__titles p{
    margin: 10px auto;
    text-align: center;
    width: 80%;
    font-size: 1.2rem;
    color: var(--Paragraph);
    animation: fade 0.5s;
}

.hero__titles h1{
    font-size: 2.2rem;
    text-shadow: 0 0 20px var(--Headline);
    animation: fade 0.5s;
}

.hero__titles span{
    color: var(--Highlight);
}

.hero__carousel{
    margin-top: 30px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--Headline);
    animation: fade 0.5s;
}

.hero__carousel h3{
    font-size: 1.6rem;
    font-family: var(--Font-Roboto);
    text-shadow: 0 0 10px var(--Secondary);
}

.hero__carousel__controls{
    position: relative;
}

.hero__carousel__img{
    height: 100%;
    width: 100%;
    border: 2px solid var(--Highlight);
    border-radius: 20px;
}

#hero__carousel--arrow-left{
    position: absolute;
    left: 0;
    top: 50px;
    font-size: 4rem;
    background-color: var(--Buttons);
    color: var(--Headline);
    cursor: pointer;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#hero__carousel--arrow-right{
    position: absolute;
    right: 0;
    top: 50px;
    font-size: 4rem;
    background-color: var(--Buttons);
    color: var(--Headline);
    cursor: pointer;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

/* Sale */

.sale{
    margin-top: 70px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sale h3{
    font-size: 1.6rem;
    font-family: var(--Font-Roboto);
    text-shadow: 0 0 10px var(--Green);
    animation: fade 0.5s;
}

.sale-container{
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    animation: fade 0.5s;
}

.sale__cards{
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    border: 2px solid var(--Headline);
    border-radius: 10px;
}

.sale__card__img{
    width: 100%;
    height: 120px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.sale-card__content{
    padding: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sale-card__prices{
    font-size: 1.4rem;
    font-weight: 900;
    font-family: var(--Font-Roboto);
}

.sale-card__prices p:first-child{
    text-decoration: line-through;
    color: var(--Paragraph);
}

.sale-card__prices p:last-child{
    color: var(--Highlight);
}

.sale-card__btns{
    display: flex;
    align-items: center;
    gap: 10px;
}

.heart{
    font-size: 1.6rem;
    cursor: pointer;
}

.heart--active{
    color: var(--Pink);
}

.btn{
    font-family: var(--Font-Roboto);
    padding: 8px;
    border-radius: 10px;
    border: none;
    background-color: var(--Secondary);
    color: var(--Headline);
    font-weight: 700;
    cursor: pointer;
    user-select: none;
}

.btn:hover{
    box-shadow: 0 0 10px var(--Purple);
    transition: all 0.5s;
}

/* Discover */

.discover{
    margin-top: 50px;
    padding: 16px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    animation: fade 0.5s;
}

.discover h3{
    font-size: 2rem;
    font-family: var(--Font-Roboto);
    text-shadow: 0 0 10px var(--Pink);
}

.discover__btns{
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
}

.btn--discover{
    border-radius: 10px;
    width: 160px;
}

.btn--active{
    background-color: var(--Pink);
}

.discover-cards-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.discover__card{
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--Purple);
    border-radius: 10px;
    animation: fade 0.5s;
}

.discover__card__img{
    height: 100px;
    width: 200px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.discover__card__middle{
    padding: 16px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.6rem;
    font-family: var(--Font-Roboto);
}

.discover__card__bottom{
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    font-family: var(--Font-Roboto);
}

.discover__card--new{
    color: var(--Pink);
}

.discover__card--classic{
    color: var(--Paragraph);
}

.discover__card--sale{
    color: var(--Green);
}

.discover__card--popular{
    color: var(--Highlight);
}

/* Footer */
footer{
    padding: 16px;
    background-color: var(--Footer);
    font-family: var(--Font-Roboto);
}

.contact h3{
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--Highlight);
}

.contact__list{
    margin-top: 10px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.contact__list__item a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100px;
    text-decoration: none;
    color: var(--Paragraph);
    font-size: 1.4rem;
    font-weight: 500;
}

.contact__list__item a:hover{
    color: var(--Headline);
}
/* Footer bottom */

.footer-bottom{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footer-bottom__list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    list-style: none;
}

.footer-bottom__list__item a{
    text-decoration: none;
    color: var(--Pink);
    font-size: 1.4rem;
    font-family: var(--Font-Roboto);
    font-weight: 900;
}

.footer-bottom__copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--Paragraph);
    font-family: var(--Font-Roboto);
    font-size: 1.2rem;
}

.footer-bottom__copyright img{
    height: 60px;
    width: 60px;
}

.ajs-content{
    font-size: 1.4rem;
}

.overlay {
    position: fixed;
    top: 80px;
    left: 0;
    min-height: 100vh;
    width: 100%;
    z-index: 1;
    background: rgba(255, 255, 255, 0.01);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    transition: all 0.2s;
  }